body {
    background-color:rgb(255, 255, 255);
    
}
/*inicio cabecalho*/
div#cabeca{
    border-bottom: 3px solid rgba(0,0,0,0.3);
    padding-bottom: 20px;
    background: url('../site-teste/images/logo_sonutricao.png') no-repeat 30px 30px;
    height: 150px;
   
   
}
img#imagemoleo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    right: 70px;
}

/*inicio figura da mulher*/
figure#centro {
    position: absolute;
    left: 390px;
    top: 40px;
    width: 500px;
    height: 100px;
    border-radius: 20px 20px 20px 20px
}

figure#centro img {
    width: 100%;
    height: 100%;
}

figure#centro figcaption {
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px 20px 20px 20px;
    
}

figure#centro :hover{
    color: rgb(0, 0, 0);
    transition: opacity 1s;
    opacity: 1;
}
/*fim figura da mulher*/

/*inicio div de registro*/
div#registro {
    text-align: right;
    border: rgba(0,0,0,0.3) 1px solid;
    padding-left: 4px;
    padding-bottom: 6px;
    padding-right: 4px;
    background-color: rgb(201, 240, 169);
    border-radius: 4px;
    height: 200px;
    
}
input.regis {
    padding: 10px;
    margin: 3px;
    border-radius: 3px;
    border: 1px solid rgb(112, 110, 110);
}
input#registrar{
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    color: rgb(73, 88, 60);
    position: relative;
    right: 50px;
    height: 35px;
    width: 100px;
    border: 1px solid rgb(114, 114, 114);
    
}
input#registrar:active {
    background-color:rgb(145, 199, 100);
    color: rgb(38, 58, 21);
}
input#registrar:hover{
    background-color: rgb(153, 180, 131);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
h1#registrar{
    font-size: 20px;
    position: relative;
    text-align: center;
    cursor: default;
}
div#res {
    position: absolute;
    top:435px;
    right: 85px;
    width: 250px;
    height: 70px;
    border: 2px solid rgb(168, 161, 161);
    border-radius: 5px;
    text-align: center;
}
/*fim div de registro*/

/*inicio da nav de menu fixada*/
nav#menu h1 {
    display: none;
}
nav#menu {
    display: block;
    
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: fixed;
    top: -20px;
    left: 410px;
    background-color: rgb(145, 199, 100);
    padding: 0px;
    border-radius: 4px 4px 4px 4px ;
}
nav#menu li {
    display: inline-block;
    background-color:rgb(145, 199, 100);
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    margin: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
nav#menu li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(101, 184, 46);
    
}
nav#menu li.redes:hover {
    background-color: rgb(145, 199, 100);
}
nav#menu li.redes{
    padding-bottom:-112px;
}
/*fim da nav de menu fixada*/

/*div de pesquisa*/
div#pesquisa{
    float: right;
    
}
input#pesquisa {
    width: 150px;
    height: 30px;
    padding: 3px;
    margin-right:3px;
    border-radius: 3px;
    border: 1px solid rgb(100, 97, 97);
}
input#botaopesquisar {
    width: 150px;
    background-color:rgb(145, 199, 100);
    height: 40px;
    padding: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
}
input#botaopesquisar:active {
    background-color:rgb(205, 241, 158);
    color: rgb(52, 73, 34);
}
input#botaopesquisar:hover{
    background-color: rgb(201, 248, 163);
    color: rgb(52, 73, 34);
}
/*fim div de pesquisa*/

/*fim cabeçalho*/

/*inicio section*/
section#corpo {
    display: block;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 50, 50);
    margin: 0 auto;
    padding: 2%;
    text-align: justify; text-indent: 50px;
    float: left;
    
}
div#conteudo{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
p { 
    font-family: 'Mukta', sans-serif;

}
h3 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(145, 199, 100);

}

/*fim section*/

/*inicio aside lateral*/
aside#lateral{
    background-color: rgb(255, 255, 255);
    float: right;
    width: 550px;
}
table#tabela {
    border: 1px rgb(101, 172, 68) solid;
    text-align: center;
    background-color: rgb(151, 151, 151);
}
table#tabela td {
    border: 1px rgb(104, 209, 101) solid;
    padding: 15px;
    height: 100px;
    width: 130px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
table#tabela td img {
    padding: 15px;
}
table#tabela td img:hover {
    -webkit-transform: scale(1.5);
    -webkit-transition: all .3s ease-in;
}
table#tabela caption {
    margin-top: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(205, 241, 158);
    border: 1px solid rgb(117, 115, 115);
    border-radius: 3px;
    padding-bottom: 3px;
}
iframe#frame {
    position: relative;
    top: 60px;
    right: 20px;
    width: 400px;
    height: 280px;
    border: none;
    
}
iframe#frame::-webkit-scrollbar {
    display: none;
}
img#exemplos {
    position: relative;
    top: 60px;
    right: 20px;
    width: 370px;
    height: 350px;
}

/*fim aside lateral*/

/*inicio rodape*/
footer{
    background-color: rgb(145, 199, 100);
    height: 150px;
    clear: both;/*para separar o footer da section e do aside, já que sem essa conf ele ficaria sobreposto*/
    margin-top: 1500px;
    
}
div#menusrodape ul{
    display: inline-block;/*blocos um ao lado do outro*/
    background-color:rgb(145, 199, 100);
    width: 180px;
    height: 120px;
    list-style: none;/*sem bolinhas ou quadradinhos*/
    margin-top: 0px;
}
div#menusrodape {
    text-align: center;
}
div#menusrodape h4 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
div#menusrodape li {
    margin-top: -10px;
    color: rgb(29, 68, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -10px;
    padding: 3px;
}
a {
    text-decoration:none;
}
div#menulogos {
    background-color: rgb(234, 236, 232);
    height: 50px;
    margin-top: -30px;
}
div#menulogos ul {
    list-style: none;
    text-align: center;
    height: 60px;

}
div#menulogos li {
    display: inline-block;
    padding-right: 10px;
    width: 60px;
    height: 60px;
   
}
div#menulogos li:hover {
    height: 90px;
    width: 90px;
    background-color: rgb(165, 165, 164);
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: -20px;
    
}
div#marca{
    background-color: white;
}
div#marca p {
    display: block;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}


/*fim rodape*/

@media screen and (max-width:600px){
    div#cabeca {
        width: 100%;
        max-height: 170px;
       
    }
    img#imagemoleo {
        display: none;
    }
    input#botaopesquisar{
        max-width: 100px;
        margin: 0 10%;
    }
    div#pesquisa {
        max-width: 200px;
        float:left;
        margin: 10% 40%;
    }
    aside#lateral{
        width: 100%;
        margin-bottom: 15%;
        text-align: center;
    }
    section#corpo {
        background-color: rgb(41, 77, 179);
        max-height: 2300px;
    }
    div#registro {
        max-width: 200px;
        float: right;
        margin-top: -290px;
        margin-right: 20px;
    }
    div#res {
        display: none;
    }
    footer {
        width: 100%;
    }
    figure#centro {
        display: none;
    }
}
@media screen and (min-width:601px) and (max-width:700px) {
    section#corpo {
        background-color: rgb(189, 34, 34);
    }
    div#cabeca {
        width: 100%;
        max-height: 170px;
       
    }
    img#imagemoleo {
        display: none;
    }
    input#botaopesquisar{
        max-width: 100px;
        margin: 0 10%;
    }
    div#pesquisa {
        max-width: 200px;
        float:left;
        margin: 10% 35%;
    }
    aside#lateral{
        width: 100%;
        margin-bottom: 15%;
        float: left;
    }
    div#registro {
        max-width: 200px;
        float: right;
        margin-top: -290px;
        margin-right: 20px;
        width: 50%;
        
    }
    div#res {
        display: none;
    }
    footer {
        width: 100%;
    }
    figure#centro {
        display: none;
    }
   
}
@media screen and (min-width:701px) and (max-width:800px) {
section#corpo {
    background-color: rgb(245, 16, 157);
}
div#cabeca {
    width: 100%;
    max-height: 170px;
   
}
img#imagemoleo {
    display: none;
}
input#botaopesquisar{
    max-width: 100px;
    margin: 0 10%;
}
div#pesquisa {
    max-width: 200px;
    float:left;
    margin: 5% 30%;
}
aside#lateral{
    width: 100%;
    margin-bottom: 15%;
    float: left;
}
div#registro {
    max-width: 200px;
    float: right;
    margin-top: -290px;
    margin-right: 20px;
    width: 50%;
    
}
div#res {
    display: none;
}
footer {
    width: 100%;
}
figure#centro {
    display: none;
}
}
@media screen and (min-width:801px) and (max-width:900px) {
    section#corpo {
        background-color: rgb(255, 230, 0);
        max-width: 980px;
    }
    div#cabeca {
        width: 100%;
        max-height: 170px;
       
    }
    img#imagemoleo {
        display: none;
    }
    
    div#pesquisa {
        max-width: 200px;
        float:left;
        margin: 5% 25%;
    }
    aside#lateral{
        width: 100%;
        margin-bottom: 15%;
        float: left;
    }
    div#registro {
        max-width: 200px;
        float: right;
        margin-top: -290px;
        margin-right: 20px;
        width: 50%;
        
    }
    div#res {
        display: none;
    }
    footer {
        width: 100%;
    }
    figure#centro {
        display: none;
    }
    }